.chat_main
  .chat_main__info
    .info_group
      .group_name
        = @group.name
      .member_name
        Member :
        - @group.users.each do |member|
          = member.name
    .edit_button
      = link_to "Edit", edit_group_path(@group), class: "edit_btn"
  
  .chat_main__message
    = render @messages
    

  .chat_main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form_box
        = f.text_field :content, class: "form_box__message", placeholder: "type a message"
        = f.label :image, class: 'form_box__image' do
          = icon('fas','image', class: 'Form__icon')
          = f.file_field :image, class:"form_box__image__file"
      = f.submit 'Send', class:"submit_btn"


  -#  %form.form
  -#     .form_box
  -#       %input{type: "text", class:"form_box__message", placeholder: "type a message"}
  -#       %label{class: "form_box__image"}
  -#         = icon('fas','image')
  -#         %input{type: "file",class:"form_box__image__file"}
  -#     %input{type: "submit", class:"submit_btn",value:"Send"}