.side_bar
  .side_bar__box
    .side_bar__box__top_item
      %h3.box_user_name
        = current_user.name
      %ul.side_bar__icons
        %li.side_bar__icons_edit
          = link_to new_group_path , class: "edit" do
            = icon('far','edit')
        %li.side_bar__icons_cog
          = link_to edit_user_path(current_user), class: "cog" do
            = icon('fas','cog')
  .side_bar__group_list
    - current_user.groups.each do |group|
      .list_top
        = link_to group_messages_path(group) do
          .list_top__name
            = group.name
          .list_top__message
            = group.show_last_message
    -# .list_top
    -#   .list_top__name
    -#     techcamp
    -#   .list_top__message
    -#     まだメッセージがありません